// @use 'helpers/color' as *;

.radio-btn {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  // border: 1px solid transparent;
  // background: transparent;
  border: none;
  cursor: pointer;

  display: none;

  @media (max-width: 450px) {
    display: inline;
    // justify-self: center;
  }

  &:first-of-type {
    margin-right: 1.4rem;
  }

  &.active {
    background: #111111;
  }
}
