@use 'color' as *;
@use 'mixin' as *;

.header {
  background-color: $main-dark;
  margin: 1rem;
  border-radius: 2rem;
  min-height: 64rem;

  &__inner {
    position: relative;
    margin: 0 auto;
  }
  &__logo {
    margin: 3rem 0 6rem;
  }

  &__image {
    position: absolute;
    right: 0;
  }

  &__content {
    &-title {
      @include titleBlock();
      color: $text-white;
      margin-bottom: 2.8rem;
    }
    &-text {
      @include textSubtitle();
      margin-bottom: 10.8rem;
      max-width: 40.5rem;
    }

    &-link {
      @include textButton();
      text-decoration: none;
      color: $font-dark;
      padding: 1.5rem 7.5rem;
      background-color: #fff;
      border-radius: 0.8rem;
      margin-bottom: 13rem;
    }
  }
}
