@use 'color' as *;

.card {
  background-color: $bg-card;
  border-radius: 1rem;
  padding: 4rem;
  margin-bottom: 12rem;

  @media (max-width: 450px) {
    &:last-of-type {
      display: none;
    }
    margin-bottom: 2rem;
  }
}
