@use 'color' as *;
@use 'mixin' as *;

.header__content-title {
  @include titleBlock();
  color: $text-white;
  margin-bottom: 2.8rem;

  @media (max-width: 1120px) {
    max-width: 60rem;
  }

  // @media (max-width: 810px) {
  //   font-size: 3.3rem;
  //   line-height: 3.7rem;
  // }
}
