@use 'color' as *;
@use 'mixin' as *;

.header__content-title {
  @include titleBlock();
  color: $text-white;
  margin: 0 0 2.8rem;
  max-width: 76rem;
  align-self: end;
  @media screen and(max-width:1000px) {
    max-width: 50rem;
  }
}
