@use 'color' as *;
@use 'mixin' as *;

.header {
  background-color: $main-dark;
  margin: 1rem;
  border-radius: 2rem;
  min-height: 64rem;
  margin-bottom: 6rem;

  @media (max-width: 450px) {
    min-height: 90rem;
    padding: 0 0 30px;
  }
}
