.header__content {
<<<<<<< HEAD
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  // grid-template-rows: 1fr;
  align-items: center;
  max-height: 60rem;
}

.header__content-inner {
  outline: 1px solid tomato;
=======
  grid-column: 1/3;

  @media (max-width: 415px) {
    grid-column: 1/2;
  }
>>>>>>> e4cf964deae4123114e3ab4f365ef568263d9bee
}
