@use 'color' as *;
@use 'mixin' as *;

.entry__textfield {
  @include textButton();
  color: rgba(17, 17, 17, 0.3);
  border: none;

  padding: 1.5rem 0 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;

  &:focus {
    color: #111111;
  }
}
