@use 'mixin' as *;

.header__content-text {
  @include textSubtitle();
  margin-bottom: 10.8rem;
  max-width: 40.5rem;

  @media (max-width: 880px) {
    max-width: 30rem;
  }
  @media (max-width: 810px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media (max-width: 450px) {
    margin-bottom: 0;
  }
}
