@font-face {
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 600;
}

@font-face {
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 400;
}
