@use 'color' as *;

@mixin titleBlock() {
  font-size: 6rem;
  line-height: 6.9rem;
  font-weight: 600;
}

@mixin textSubtitle() {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: $text-white;
  opacity: 0.7;
}

@mixin textButton() {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
}

// @mixin animation() {
//   transition: all 0.3s linear;
// }
